USE RE
GO
/****** Object:  Database [:RE]    Script Date: 25.05.2023 7:18:11 ******/
CREATE DATABASE [:RE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'_RE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\_RE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'_RE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\_RE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [:RE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [:RE]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 25.05.2023 7:18:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[idCategories] [int] IDENTITY(1,1) NOT NULL,
	[NameCategories] [varchar](20) NULL,
	[State] [bit] NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[idCategories] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Check]    Script Date: 25.05.2023 7:18:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Check](
	[idOrder] [int] IDENTITY(1,1) NOT NULL,
	[idUsers] [int] NULL,
	[idСomposition] [int] NULL,
	[idProduct] [int] NULL,
	[idPaymentMethod] [int] NULL,
	[idOrderStatus] [int] NULL,
	[idSale] [int] NULL,
	[TotalCost] [decimal](10, 2) NULL,
	[State] [bit] NULL,
 CONSTRAINT [PK_Check] PRIMARY KEY CLUSTERED 
(
	[idOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 25.05.2023 7:18:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[idCity] [int] IDENTITY(1,1) NOT NULL,
	[NameCity] [varchar](30) NULL,
	[State] [bit] NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[idCity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Composition]    Script Date: 25.05.2023 7:18:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Composition](
	[idComposition] [int] IDENTITY(1,1) NOT NULL,
	[idCity] [int] NULL,
	[State] [bit] NULL,
 CONSTRAINT [PK_Composition] PRIMARY KEY CLUSTERED 
(
	[idComposition] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Delivery]    Script Date: 25.05.2023 7:18:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Delivery](
	[idDelivery] [int] IDENTITY(1,1) NOT NULL,
	[idProduct] [int] NULL,
	[idSuplier] [int] NULL,
	[idComposition] [int] NULL,
	[Price] [decimal](10, 2) NULL,
	[State] [bit] NULL,
 CONSTRAINT [PK_Delivery] PRIMARY KEY CLUSTERED 
(
	[idDelivery] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatus]    Script Date: 25.05.2023 7:18:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatus](
	[idOrderStatus] [int] IDENTITY(1,1) NOT NULL,
	[NameOrderStatus] [varchar](15) NULL,
	[State] [bit] NULL,
 CONSTRAINT [PK_OrderStatus] PRIMARY KEY CLUSTERED 
(
	[idOrderStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethod]    Script Date: 25.05.2023 7:18:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethod](
	[idPaymentMethod] [int] IDENTITY(1,1) NOT NULL,
	[NamePaymentMethod] [varchar](20) NULL,
	[State] [bit] NULL,
 CONSTRAINT [PK_PaymentMethod] PRIMARY KEY CLUSTERED 
(
	[idPaymentMethod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 25.05.2023 7:18:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[idProduct] [int] IDENTITY(1,1) NOT NULL,
	[idCategories] [int] NOT NULL,
	[Name] [varchar](45) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Specifications] [varchar](1000) NOT NULL,
	[Photo] [varbinary](max) NULL,
	[State] [bit] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[idProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role_In_System]    Script Date: 25.05.2023 7:18:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role_In_System](
	[idRole] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](15) NULL,
	[State] [bit] NULL,
 CONSTRAINT [PK_Role_In_System] PRIMARY KEY CLUSTERED 
(
	[idRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale]    Script Date: 25.05.2023 7:18:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale](
	[idSale] [int] IDENTITY(1,1) NOT NULL,
	[Percent] [int] NULL,
	[State] [bit] NULL,
 CONSTRAINT [PK_Sale] PRIMARY KEY CLUSTERED 
(
	[idSale] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 25.05.2023 7:18:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[idSupplier] [int] IDENTITY(1,1) NOT NULL,
	[idCity] [int] NULL,
	[Name] [varchar](45) NULL,
	[NumberPhone] [varchar](15) NULL,
	[Email] [varchar](45) NULL,
	[State] [bit] NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[idSupplier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[The_Product_Is_In_Stock]    Script Date: 25.05.2023 7:18:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[The_Product_Is_In_Stock](
	[idComposition] [int] IDENTITY(1,1) NOT NULL,
	[idProduct] [int] NULL,
	[Quantity] [int] NULL,
	[State] [bit] NULL,
 CONSTRAINT [PK_The_Product_Is_In_Stock_1] PRIMARY KEY CLUSTERED 
(
	[idComposition] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 25.05.2023 7:18:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[idUsers] [int] IDENTITY(1,1) NOT NULL,
	[Family] [varchar](45) NOT NULL,
	[Name] [varchar](45) NOT NULL,
	[MiddleName] [varchar](45) NULL,
	[NumberPhone] [varchar](45) NOT NULL,
	[Email] [varchar](45) NOT NULL,
	[Password] [varchar](10) NOT NULL,
	[idRole] [int] NOT NULL,
	[Photo] [varbinary](max) NULL,
	[State] [bit] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[idUsers] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Check]  WITH CHECK ADD  CONSTRAINT [FK_Check_Composition] FOREIGN KEY([idСomposition])
REFERENCES [dbo].[Composition] ([idComposition])
GO
ALTER TABLE [dbo].[Check] CHECK CONSTRAINT [FK_Check_Composition]
GO
ALTER TABLE [dbo].[Check]  WITH CHECK ADD  CONSTRAINT [FK_Check_OrderStatus] FOREIGN KEY([idOrderStatus])
REFERENCES [dbo].[OrderStatus] ([idOrderStatus])
GO
ALTER TABLE [dbo].[Check] CHECK CONSTRAINT [FK_Check_OrderStatus]
GO
ALTER TABLE [dbo].[Check]  WITH CHECK ADD  CONSTRAINT [FK_Check_PaymentMethod] FOREIGN KEY([idPaymentMethod])
REFERENCES [dbo].[PaymentMethod] ([idPaymentMethod])
GO
ALTER TABLE [dbo].[Check] CHECK CONSTRAINT [FK_Check_PaymentMethod]
GO
ALTER TABLE [dbo].[Check]  WITH CHECK ADD  CONSTRAINT [FK_Check_Product] FOREIGN KEY([idProduct])
REFERENCES [dbo].[Product] ([idProduct])
GO
ALTER TABLE [dbo].[Check] CHECK CONSTRAINT [FK_Check_Product]
GO
ALTER TABLE [dbo].[Check]  WITH CHECK ADD  CONSTRAINT [FK_Check_Sale] FOREIGN KEY([idSale])
REFERENCES [dbo].[Sale] ([idSale])
GO
ALTER TABLE [dbo].[Check] CHECK CONSTRAINT [FK_Check_Sale]
GO
ALTER TABLE [dbo].[Check]  WITH CHECK ADD  CONSTRAINT [FK_Check_Users] FOREIGN KEY([idUsers])
REFERENCES [dbo].[Users] ([idUsers])
GO
ALTER TABLE [dbo].[Check] CHECK CONSTRAINT [FK_Check_Users]
GO
ALTER TABLE [dbo].[Composition]  WITH CHECK ADD  CONSTRAINT [FK_Composition_City] FOREIGN KEY([idCity])
REFERENCES [dbo].[City] ([idCity])
GO
ALTER TABLE [dbo].[Composition] CHECK CONSTRAINT [FK_Composition_City]
GO
ALTER TABLE [dbo].[Composition]  WITH CHECK ADD  CONSTRAINT [FK_Composition_The_Product_Is_In_Stock1] FOREIGN KEY([idComposition])
REFERENCES [dbo].[The_Product_Is_In_Stock] ([idComposition])
GO
ALTER TABLE [dbo].[Composition] CHECK CONSTRAINT [FK_Composition_The_Product_Is_In_Stock1]
GO
ALTER TABLE [dbo].[Delivery]  WITH CHECK ADD  CONSTRAINT [FK_Delivery_Composition] FOREIGN KEY([idComposition])
REFERENCES [dbo].[Composition] ([idComposition])
GO
ALTER TABLE [dbo].[Delivery] CHECK CONSTRAINT [FK_Delivery_Composition]
GO
ALTER TABLE [dbo].[Delivery]  WITH CHECK ADD  CONSTRAINT [FK_Delivery_Product] FOREIGN KEY([idProduct])
REFERENCES [dbo].[Product] ([idProduct])
GO
ALTER TABLE [dbo].[Delivery] CHECK CONSTRAINT [FK_Delivery_Product]
GO
ALTER TABLE [dbo].[Delivery]  WITH CHECK ADD  CONSTRAINT [FK_Delivery_Supplier] FOREIGN KEY([idSuplier])
REFERENCES [dbo].[Supplier] ([idSupplier])
GO
ALTER TABLE [dbo].[Delivery] CHECK CONSTRAINT [FK_Delivery_Supplier]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Categories] FOREIGN KEY([idCategories])
REFERENCES [dbo].[Categories] ([idCategories])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Categories]
GO
ALTER TABLE [dbo].[Supplier]  WITH CHECK ADD  CONSTRAINT [FK_Supplier_City] FOREIGN KEY([idCity])
REFERENCES [dbo].[City] ([idCity])
GO
ALTER TABLE [dbo].[Supplier] CHECK CONSTRAINT [FK_Supplier_City]
GO
ALTER TABLE [dbo].[The_Product_Is_In_Stock]  WITH CHECK ADD  CONSTRAINT [FK_The_Product_Is_In_Stock_Product] FOREIGN KEY([idProduct])
REFERENCES [dbo].[Product] ([idProduct])
GO
ALTER TABLE [dbo].[The_Product_Is_In_Stock] CHECK CONSTRAINT [FK_The_Product_Is_In_Stock_Product]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Role_In_System] FOREIGN KEY([idRole])
REFERENCES [dbo].[Role_In_System] ([idRole])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Role_In_System]
GO
USE [master]
GO
